.server-card
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    border: 1px solid #d6d6d6
    background-color: #202020
    color: #fff
    font-family: monospace
    .server-info
        display: flex
        flex-direction: row
        img
            width: 64px
            height: 64px
        .server-description
            padding-top: 2px
            padding-left: 5px
            p
                margin-bottom: 0
                font-size: 10pt
                white-space: pre-wrap
            .motd
                &[data-color=lightpurple] // light_purple -> fuchsia
                    color: fuchsia
                &.bold
                    font-weight: bold
                &.italic
                    font-style: italic
    .server-status
        p
            margin-top: 7px
            margin-right: 7px
