.page
    height: 100%
    overflow-y: auto
    article
        width: 45%
        height: 100%
        margin: 0 auto
        padding-top: 120px
        padding-left: 60px
        padding-right: 60px
        header
            font-weight: bold
            margin-bottom: 30px
        .content-container
            h2, h3, h4, h5, h6
                font-weight: bold
                margin-bottom: 20px
        footer
            a
                font-weight: bold
