.page#pictures
    .content-container
        margin-bottom: 30px
        overflow: hidden
        .image-box
            img
                transition: all .6s ease
                &:hover
                    transform: scale(1.3)
                    overflow: hidden
